* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  margin-top: 5.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #373b69;
  margin: 1rem;
  width: 250px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3 {
  margin: 0;
}

.movie-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, .94);
  color: #111;
  padding: .5rem;
  bottom: -100%;
  transition: bottom 500ms ease-in-out;
  line-height: 1.5;
}

.movie:hover .movie-overlay {
  bottom: 0;
}

.search-bar {
  position: fixed;
  top: 0;
  background-color: #373b69;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar input {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, .7);
  border-radius: 10px;
  padding: 10px;
  color: #f9f9f9;
  background-color: #414678;
  border: 0;
  outline: 0;
}

.search-bar input::-webkit-input-placeholder {
  color: #f9f9f9;
}

.search-bar img {
  width: 50px;
}